{% extends 'user_base.html' %}

{% block body %}

<div class="container hidden-sm">
  <div>
    <div class="row">
      <div class="page-header">
      <h1>{{local_user.name}}</h1>
      {% if local_user.teacher %}
        <p class='lead'>Teacher Account: <span class="text-muted">{{google_user_api.get_current_user().email()}}</span></p>
        <p>
          <a href="/edit_profile" class="btn btn-default">Edit Profile</a>
          <a href="/edit_course" class="btn btn-info">New Course</a> 
          <a href="/register" class="btn btn-primary">Register for Course</a>
        </p>
      {% else %}
        <p class='lead'>Student Account: <span class="text-muted">{{google_user_api.get_current_user().email()}}</span></p>
        <p>
          <a href="/edit_profile" class="btn btn-default">Edit Profile</a>
          <a href="/register" class="btn btn-primary">Register for Course</a> 
          <a href="/request_teacher_access" class="btn btn-info">Request Teacher Access</a>
        </p>
      {% endif %}


      </div>
    </div>
  </div>
  {% if enrollments %}
    <div class="row">
      <h3>Courses you are registered for</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Course</th>
            <th>Registration Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in enrollments %}
          <tr>
            <td>{{entry["course"].name}} 
            <td>{{entry["status"]}}</td>
            <td>{% if entry["status"]=='approved' %}<a class="btn btn-small btn-primary" href="/student_profile/{{entry['course'].key.parent().id()}}/{{entry['course'].key.id()}}">View Course</a>{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>  
  {% endif %}
  {% if local_user.teacher %}
    {% if courses %}
      <div class="row">
        <h3>Courses you are teaching</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Course</th>
              <th class="hidden-sm">Notifications</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for course in courses %}
            <tr>
              <td>
                {{course.name}}
              </td>
              <td>
                
                {% set registrations = 0 %}
                {% if registrations > 0 %}<p><span class="badge badge-notification">{{registrations}}</span> 
                  <a href="/course/{{course.key.id()}}?active_tab=students">pending enrollment{% if registrations > 1 %}s{% endif %}</a></p>
                {% endif %}
              </td>
              <td><a class="btn btn-small btn-primary" href="/course/{{course.key.id()}}">View Course</a></td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
    <div class="marketing-div">
    <h1>No teacher courses!</h1>
    <p class="lead">Hey, you haven't created any courses yet!</p>
    <p><a class = "btn btn-info" href="/edit_course">Create Your First Course</a></p>
    </div>
    {% endif %}
  {% endif %}
  
</div>  

<div class="mobile-page visible-sm">
  <div class="row mobile-row mobile-header">
    <h1>{{local_user.formalName}}</h1>
    {% if local_user.teacher %}
      <p class="text-muted">Teacher Account</p>
    {% else %}
      <p class="text-muted">Student Account</p>
    {% endif %}
    <div class="col-12">
      <a href="/edit_profile" class="btn btn-default btn-block">Edit Profile</a>
      <a href="/register" class="btn btn-default btn-block">Register for Course</a>
      {% if local_user.teacher %}
        <a href="/edit_course" class="btn btn-default btn-block">New Course</a> 
      {% else %}
        <a href="/request_teacher_access" class="btn btn-default btn-block">Request Teacher Access</a>
      {% endif %}

    </div>
  </div>
  {% if local_user.teacher %}
    {% if courses %}
    <table class="table mobile-table">
    <tr class="mobile-break-row">
      <td class="mobile-break-row " colspan="2"><h5>Your teacher courses</h5></td>
    </tr>
      {% for course in courses %}
      <tr>
        <td class="col-9 mobile-table-left">
          <h4>{{course.name}}</h4>
          {% set notifications = 0 %}
          {% if notifications > 0 %}
            <p class="text-muted"><span class="badge badge-notification">{{notifications}}</span> Pending Notifications</p>
          {% endif %}
        </td>
        <td class="col-3 mobile-table-right">
          <a class="btn btn-primary" href="/course/{{course.key.id()}}">View</a>
        </td>
      </tr>
      {% endfor %}
    {% endif %}
  {% endif %}
  {% if enrollments %}
  
  <table class="table mobile-table">
    <tr>
      <td class="mobile-break-row " colspan="2"><h5>Your student courses</h5></td>
    </tr>
    {% for entry in enrollments %}
      <tr>
        <td class="col-9 mobile-table-left">
          <h4>{{entry["course"].name}}</h4>
          {% set status = entry["status"] %}
          {% if status == 'approved' %}
            <p class="text-success">currently enrolled</p>
          {% elif status == 'pending' %}
            <p class="text-warning">enrollment pending</p>
          {% elif status == 'denied' %}
            <p class="text-danger">request denied</p>
          {% elif status == 'revoked' %}
            <p class="text-danger">enrollment revoked</p>
          {% endif %}
        </td>
        <td class="col-3 mobile-table-right">
          {% if status == 'approved' %}
          <a class="btn btn-primary" href="/student_profile/{{entry['course'].key.parent().id()}}/{{entry['course'].key.id()}}">View</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  {% endif %}

</div>

{% endblock %}