h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300
}

.page-header h1 {
  font-size: 3em;
}

.page-header h1 small {
  font-weight: 300
}


.badge-new {
  text-align: center;
  display: block;
  height: 7em;
  width: 7em;
  box-shadow: 0.3em 0.3em 0.8em #ccc;
  margin: 1em 2em 1em 0;
  border-radius: 0.5em
}

.badge-grey {
  background: #f6f6f6;
  color: #e6e6e6;
  box-shadow:  0.3em 0.3em 0.8em #e6e6e6 inset;
}

.badge-new-description {
  margin: 0 !important;
}

.small-badge {
  font-size: 0.5em;
}

.tiny-badge {
  font-size: 0.3em;
}

.tiny-badge-mobile {
  font-size: 0.3em;
}

.mobile-request-list h3 {
  margin-top: 5px !important;
}

.badge-icon-container {

  padding-top: 0.5em;
}

.badge-new i {
  font-size: 6em;
}

.badge-creator-div .badge-new {
  margin-left:auto;
  margin-right: auto;
}

.badge-list h1 {
  margin-top:20px !important;
  margin-bottom:20px !important;
}

.left-panel {
  border-right: 0px solid #e5e5e5;
  position: fixed;
  left: 0;
  top: 50px;
  height: 100% !important;
  min-height: 100% !important;
  margin:0px;
  padding:0px !important;
  width: 160px;
  background: #474949;
  color: #f6f6f6;
}

.the-brand {
  color:#fff !important;
  font-weight: 300;
  font-size: 1.9em;
  margin: 5px 0 0 0 ;
  font-family: 'Roboto', sans-serif;
}


.icon-brand, .text-theme {
  color: #ab42ff;
}

.navbar-fixed-top {
  background: #474949 !important;
}

.navbar-fixed-top a {
  color: #ccc !important
}

.navbar-fixed-top a:hover {
  color:#ffffff !important;
}

.left-panel .side-list {
  width: 100%;
  list-style: none;
}

.side-list {
  padding: 0;
  margin: 0;
}

.left-panel h4 {
  color: #f6f6f6;
}

.side-list > li > a {
  display: block;
  width: 180px;
  margin: 0 0 -1px;
  padding: 15px 0px;
  padding-left: 10px;
  color: #ccc;
  font-size: 1em
}

.side-list > li > a > .icon-chevron-sign-right {
  float: right;
  margin-right: 15px;
  margin-top: 2px;
  text-shadow: none;
  display: none;
}

.side-list > .active > a > .icon-chevron-sign-right {
  display: block !important
}

.side-list > .active > a {
  background-color: #ab42ff;
  color: #ffffff;
}

.side-list .badge-notification, .badge-notification {
  background-color: #ab42ff !important;
  color: #fff;
}

.side-list .active .badge-notification {
  background-color: #fff !important;
  color: #ab42ff;
}

.side-list > li > a:hover {
  background-color: #383838;
  text-decoration: none;
  color: #f6f6f6;
}



.side-list > .active > a:hover {
  background-color: #a029ff !important;
  color: #ffffff !important;
  text-decoration: none;
}

.content-div {
  margin-top: 50px;
  padding:30px;
  width: 100%;
}

@media (min-width: 992px) {
  .content-div {
    margin-top: 50px;
    padding-left: 250px;
    width: 90%;
  }
}

.no-sidebar-div {
  margin-top: 50px;
}

.single-badge-description {
  display: block;
  margin-left: 0
}

.marketing {
  text-align: center;
}

.achievement-form {
  margin-left:2px;
}

.callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}

.callout-checkpoint {
  background-color: #fcfcfc
}

.checkpoint-featured {
  border-color: #ab42ff !important;
  background-color: #fff
}


.text-featured {
  color: #ab42ff;
}

.callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}

.callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}

.callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.percent-complete {
  margin-top: 0px;
}
.percent-complete-progress-bar {
  margin-top:10px;
}

.small-reg-status {
  margin-right:5px;
}

.small-reg-status i {
  font-size: 1.2em
}

.marketing-div {
  text-align: center
}

.mobile-notification {
  margin-right:5px;
}

.btn-add {
  color: #ab42ff;
}


.btn-add:hover {
  background-color: #a029ff;
  color:#ffffff;
}