h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300
}

body {
  padding-bottom: 50px
}

.page-header h1 {
  font-size: 3em;
}

.page-header h1 small {
  font-weight: 300
}

.badge-new {
  text-align: center;
  display: block;
  height: 7em;
  width: 7em;
  box-shadow: 0.3em 0.3em 0.8em #ccc;
  margin: 1em 2em 1em 0em !important;
  border-radius: 0.5em
}


.badge-grey {
  background: #f6f6f6;
  color: #e6e6e6;
  box-shadow:  0.3em 0.3em 0.8em #e6e6e6 inset;
}

.badge-new-description {
  margin: 0 !important;
}

.small-badge {
  font-size: 0.5em;
}

.tiny-badge {
  font-size: 0.3em;
}

.tiny-badge-mobile {
  font-size: 0.3em;
}

.mobile-request-list h3 {
  margin-top: 5px !important;
}

.badge-icon-container {

  padding-top: 0.5em;
}

.badge-new i {
  font-size: 6em;
}

.badge-creator-div .badge-new {
  margin-left:auto;
  margin-right: auto;
}

.badge-list h1 {
  margin-top:20px !important;
  margin-bottom:20px !important;
}

.left-panel {
  border-right: 0px solid #e5e5e5;
  position: fixed;
  left: 0;
  top: 50px;
  height: 100% !important;
  min-height: 100% !important;
  margin:0px;
  padding:0px !important;
  width: 160px;
  background: #474949;
  color: #f6f6f6;
}

.the-brand {
  color:#fff !important;
  font-weight: 300;
  font-size: 1.9em;
  margin: 5px 0 0 0 ;
  font-family: 'Roboto', sans-serif;
}

.the-brand-mobile {
  color:#fff !important;
  font-weight: 300;
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
}




.icon-brand, .text-theme {
  color: #33B5E5
}

.navbar-fixed-top {
  background: #474949 !important;
}

.navbar-fixed-top a {
  color: #ccc !important
}

.navbar-fixed-top a:hover {
  color:#ffffff !important;
}

.left-panel .side-list {
  width: 100%;
  list-style: none;
}

.side-list {
  padding: 0;
  margin: 0;
}

.left-panel h4 {
  color: #f6f6f6;
}

.side-list > li > a {
  display: block;
  width: 180px;
  margin: 0 0 -1px;
  padding: 15px 0px;
  padding-left: 10px;
  color: #ccc;
  font-size: 1em
}

.side-list > li > a > .icon-chevron-sign-right {
  float: right;
  margin-right: 15px;
  margin-top: 2px;
  text-shadow: none;
  display: none;
}

.side-list > .active > a > .icon-chevron-sign-right {
  display: block !important
}


.side-list > li > a:hover {
  background-color: #383838;
  text-decoration: none;
  color: #f6f6f6;
}

.side-list > .active > a {
  background-color: #0099CC;
  color: #ffffff;
}

.side-list > .active > a:hover {
  background-color: #0099CC !important;
  color: #ffffff;
}

.side-list > li > a > .badge-notification, .badge-notification {
  background-color: #FF8800  !important;
  color: #fff !important;
}


a {
  color: #0099CC
}

.btn-default {
  background-color: #474949 !important;
  border-color: #474949 !important;
  color: #fff !important
}

.btn-default:hover {
  background-color: #383838 !important;
  border-color: #383838 !important
}

.btn-muted {
  background-color: #e6e6e6 !important;
  border-color: #999 !important;
  color: #555 !important
}


.btn-info {
  background-color: #33B5E5;
  border-color: #33B5E5 !important;
}

.btn-info:hover {
  background-color: #0099CC !important;
  border-color: #0099CC !important;
}

.btn-primary {
  background-color: #AA66CC;
  border-color: #AA66CC !important;
}

.btn-primary:hover {
  background-color: #9933CC !important;
  border-color: #9933CC !important;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #C494DB !important;
  border-color: #C494DB !important
}

.btn-danger {
  background-color: #FF4444 !important;
  border-color:  #FF4444 !important;
}

.btn-danger:hover {
  background-color: #CC0000 !important;
  border-color: #CC0000 !important
}

.btn-warning {
  background-color: #FFBB33 !important;
  border-color: #FFBB33 !important;
}

.btn-warning:hover {
  background-color: #FF8800 !important;
  border-color: #FF8800 !important;
}

.btn-success {
  background-color: #99CC00 !important;
  border-color: #99CC00 !important;
}

.btn-success:hover {
  background-color: #669900 !important;
  border-color: #669900 !important;
}

.btn-success .disabled {
  background-color: #CCE680 !important
}

.callout-info {
  background-color: #EBF8FC !important;
  border-color: #33B5E5 !important;
}

.callout-warning {
  background-color: #FFF8EB !important;
  border-color: #FFBB33 !important;
}

.callout-danger {
  background-color: #FFECEC !important;
  border-color: #FF4444 !important
}

.callout-success {
  background-color: #F5FAE6 !important;
  border-color: #99CC00 !important
}

.text-warning {
  color: #FF8800 !important;
}

.text-info {
  color: #0099CC !important
}

.text-danger {
  color: #CC0000 !important
}

.text-success {
  color: #669900 !important
}


.content-div {
  margin-top: 50px;
  width: 100%;
}

@media (min-width: 992px) {
  .content-div {
    margin-top: 50px;
    padding-left: 250px;
    width: 90%;
  }
}

/* Important!!!! 
  Had to go into the bootstrap.css file and change @media min-width to 992 for collapsable navbar!!!!
*/

.no-sidebar-div {
  margin-top: 50px;
}

.single-badge-description {
  display: block;
  margin-left: 0
}

.marketing {
  text-align: center;
}

.achievement-form {
  margin-left:2px;
}

.callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}

.callout-checkpoint {
  background-color: #fcfcfc
}

.checkpoint-featured {
  background-color: #EBF8FC !important;
  border-color: #33B5E5 !important;
}

.callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}

.callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}

.callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.percent-complete {
  margin-top: 0px;
}
.percent-complete-progress-bar {
  margin-top:10px;
}

.small-reg-status {
  margin-right:5px;
}

.small-reg-status i {
  font-size: 1.2em
}

.marketing-div {
  text-align: center
}

.mobile-notification {
  margin-right:5px;
}

.btn-add {
  color: #ab42ff;
}

.badge-page-badge {
  margin-top: 10px !important;
  padding-top: 10px;
  text-align: center !important;
  font-size: 1.5em;
}

.badge-page-badge .badge-new {
  display: inline-block;
  margin: 0 !important;
  margin-bottom: 20px !important;
}


.btn-add:hover {
  background-color: #a029ff;
  color:#ffffff;
}

.mobile-callout {
  border-left: 0px solid #fff !important
}

.mobile-page {
  width: 100%
}

.col-primary {
  background-color: #AA66CC;
}

.col-info {
  background-color: #33B5E5;
}

.mobile-row {
  border-bottom: 1px solid #f6f6f6;
}

.mobile-header {
  background-color: #474949;
  color: #fff;
  text-align: center !important;
  padding-bottom: 1em
}

.mobile-header .btn-default {
  border: 1px solid #666 !important
}

.mobile-right {
  display: block;
  height: 100%;
  text-align: center;
}

.mobile-table-info {
  background-color: #33B5E5;
}

.checkpoint-lead {
  padding-top: 1em;
  background-color: #f6f6f6
}

.mobile-checkpoint-featured .mobile-table-left {
  background-color: #EBF8FC !important;
}

.mobile-checkpoint-featured .mobile-table-right {
  background-color: #EBF8FC !important;
}

.mobile-table-right {
  text-align: center;
  vertical-align: middle !important;
  
}

.mobile-badge-table {
  background-color: #fff !important
}

.mobile-table h4 {
  font-weight: 400;
}

.mobile-student-row {
  background-color: #fefbed;
  text-align: center;
}

.mobile-table {
  margin: 0 !important;
  margin-top: -1px !important;
  padding-top: 0 !important;
  margin-bottom:1px !important;
}

.mobile-table p {
  font-size: 0.9em
}

.small-badge-mobile {
  font-size: 0.4em
}
.mobile-break-row {
  background-color: #f6f6f6 !important;
  text-align: center;

}

.mobile-page-badge > .badge-div > .badge-new {
 box-shadow: 0 0 0 #ccc;
 display: inline-block !important;
 margin: 0 !important
}

.top-form-button {
  height: 3.5em;
  margin-top: -0.5em;
}

.section-group .btn-link {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #383838;
  text-decoration: none;
}

.section-group .btn-link:hover {
  background-color: #33B5E5;
  color: #fff
}




.mobile-course-action-pane .btn {
  margin-left: 5px !important
}

.teacher-quote {
  border-color: #33B5E5 !important;
  background-color: #EBF8FC !important;
  padding-left: 10px !important
}

.student-quote {
  border-color: #99CC00 !important;
  background-color: #F5FAE6 !important;
}

.comment-form-div {
  margin-bottom: 10px !important
}