{% if courses %}
  <ul class="nav nav-tabs">
    {% for course in courses %}
    <li 
      {% if active_course ==  '' ~ course.key.id() %} class="active"
      {% elif not active_course and loop.first %} class="active"
      {% endif%}
      >
      <a href="#badge_course_{{course.key.id()}}" data-toggle="tab">{{course.course_name}}</a>
    </li>
    {% endfor %}
  </ul>
  <div class="tab-content">
    {% for course in courses %}
      <div class="tab-pane fade 
        {% if active_course == '' ~ course.key.id() %}in active 
        {% elif not active_course and loop.first %}in active
        {% endif %}" id="badge_course_{{course.key.id()}}">
        
      {% if get_enrolled_students(course) %}
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Student Name</th>
            <th>Badge Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for student in get_enrolled_students(course) %}
          {% set current_achievement_status = achievement_status(student.key.id(), badge.key.id(), teacher.key.id(), course.key.id()) %}
            <tr>
              <td>
                <a href="/student_badge/{{student.key.id()}}/{{course.key.id()}}/{{badge.key.id()}}/teacher_view">
                  {{student.formalName}}
                </a>
              </td>
              <td>
                {% if 'awarded' in current_achievement_status %}
                  <span class="text-success"><i class="icon-certificate"></i> awarded</span>
                {% elif 'revoked' in current_achievement_status %}
                  <span class="text-danger"><i class="icon-exclamation-sign"></i> you revoked this badge</span>
                {% elif 'requested' in current_achievement_status %}
                  <span class="text-info"><i class="icon-question-sign"></i> student has requested badge</span>
                {% else %}
                  <span class="text-muted">not yet obtained</span>
                {% endif %}
              </td>
              <td>
                
                {% if current_achievement_status != 'awarded' %}
                  <form action="/achievementHandler?status=awarded" method = "post" class="achievement-form">
                    <input type="hidden" name="student_id" value = "{{student.key.id()}}">
                    <input type="hidden" name="course_id" value = "{{course.key.id()}}">
                    <input type="hidden" name="badge_id" value = "{{badge.key.id()}}">
                    <button class="btn btn-success btn-small" type="submit">award badge</button>
                  </form>
                {% else %}
                  <form action="/achievementHandler?status=revoked" method = "post" class="achievement-form">
                    <input type="hidden" name="student_id" value = "{{student.key.id()}}">
                    <input type="hidden" name="course_id" value = "{{course.key.id()}}">
                    <input type="hidden" name="badge_id" value = "{{badge.key.id()}}">
                    <button class="btn btn-small btn-warning" type="submit">revoke badge</button>
                  </form>


                {% endif %}
                  
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
        
      {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}