{% if courses %}
  <ul class="nav nav-tabs">
    {% for course in courses %}
    <li 
      {% if active_course ==  '' ~ course.course.key.id() %} class="active"
      {% elif not active_course and loop.first %} class="active"
      {% endif%}
      >
      <a href="#badge_course_{{course.course.key.id()}}" data-toggle="tab">{{course.name}}</a>
    </li>
    {% endfor %}
  </ul>
  <div class="tab-content">
    {% for course in courses %}
      <div class="tab-pane fade 
        {% if active_course == '' ~ course.course.key.id() %}in active 
        {% elif not active_course and loop.first %}in active
        {% endif %}" id="badge_course_{{course.course.key.id()}}">
        
      {% set enrolled_students = course.enrolled_students %}
      {% if enrolled_students %}
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Student Name</th>
            <th>Badge Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for student in enrolled_students%}
          {% set current_achievement_status = achievement_status(student, badge, teacher, course.course) %}
            <tr>
              <td>
                <a href="/student_badge/{{student.key.id()}}/{{course.course.key.id()}}/{{badge.key.id()}}/teacher_view">
                  {{student.formalName}}
                </a>
              </td>
              <td>
                {% if 'awarded' in current_achievement_status %}
                  <span class="text-success"><i class="icon-certificate"></i> awarded</span>
                {% elif 'revoked' in current_achievement_status %}
                  <span class="text-danger"><i class="icon-exclamation-sign"></i> you revoked this badge</span>
                {% elif 'requested' in current_achievement_status %}
                  <span class="text-warning"><i class="icon-exclamation-sign"></i> student has requested badge</span>
                {% elif 'denied' in current_achievement_status %}
                  <span class="text-danger"><i class="icon-exclamation-sign"></i> you denied student request</span>
                {% else %}
                  <span class="text-muted">not yet obtained</span>
                {% endif %}
              </td>
              <td>
                
                {% if current_achievement_status != 'awarded' %}
                  <a class="btn-loading btn btn-success btn-small" href="/student_badge/{{student.key.id()}}/{{course.course.key.id()}}/{{badge.key.id()}}/teacher_view/award/awarded?single_badge=true">award</a>
                  {% if current_achievement_status == 'requested' %}
                    <a class="btn-loading btn btn-danger btn-small" href="/student_badge/{{student.key.id()}}/{{course.course.key.id()}}/{{badge.key.id()}}/teacher_view/award/denied?single_badge=true">deny</a>
                  {% endif %}
                {% else %}
                  <a class="btn-loading btn btn-warning btn-small" href="/student_badge/{{student.key.id()}}/{{course.course.key.id()}}/{{badge.key.id()}}/teacher_view/award/revoked?single_badge=true">revoke</a>
                {% endif %}
                  
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
        
      {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}