<table class="table table-hover">
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Course Section</th>
      <th>Badge Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for registration in registrations %}
      {% if (registration.section == current_section) or (current_section == 'all') %}
        {% if registration.status == 'approved' %}
          {% set student = registration.student %}
          {% set current_achievement_status = achievement_status(student, badge, teacher, course) %}
            <tr>
              <td>
                <a href="/student_badge/{{student.key.id()}}/{{course.key.id()}}/{{badge.key.id()}}/teacher_view">
                  {{student.name}}
                </a>
              </td>
              <td>{{registration.section}}</td>
              <td>
                {% if 'awarded' in current_achievement_status %}
                  <span class="text-success"><i class="icon-certificate"></i> awarded</span>
                {% elif 'revoked' in current_achievement_status %}
                  <span class="text-danger"><i class="icon-exclamation-sign"></i> you revoked this badge</span>
                {% elif 'requested' in current_achievement_status %}
                  <span class="text-warning"><i class="icon-exclamation-sign"></i> student has requested badge</span>
                {% elif 'denied' in current_achievement_status %}
                  <span class="text-danger"><i class="icon-exclamation-sign"></i> you denied student request</span>
                {% else %}
                  <span class="text-muted">not yet obtained</span>
                {% endif %}
              </td>
              <td>
                {% set studentID = student.key.id() %}
                {% set courseID = course.key.id() %}
                {% set badgeID = badge.key.id() %}
                
                <div class="badge-actions">
                  {% include 'badge_actions.html' %}
                </div>
              </td>
            </tr>
        {% endif %}
      {% endif %}
    {% endfor %}
  </tbody>
</table>