{% extends 'user_base.html' %}

{% block body %}

<div>
  <div class="row">
    <div class="page-header">

  <a class="btn btn-add btn-large pull-right" href="/badge_creator"><i class="icon-plus-sign-alt icon-large"></i> New Badge</a>
      <h1>Your Badge Vault</h1>
    </div>
  <div class="row">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Badge</th>
          <th>Name</th>
          <th>Associated Checkpoints</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for badge in badges %}
          <tr>
            <td>
              <div class="badge-div tiny-badge pull-left">
                <a href="/badge/{{badge.key.id()}}">
                <div class="badge-new" style="background: {{badge.background}}; color: {{badge.icon_color}}">
                  <div class="badge-icon-container"><i class="icon-{{badge.icon}}"></i></div>
                </div>
                </a>
              </div>
            </td>
            <td>{{badge.name}}</td>
            <td>
              {% set badge_checkpoints = get_checkpoints_for_badge(badge=badge, user=local_user) %}
              {% if badge_checkpoints %}
                {% for each_checkpoint in badge_checkpoints %}
                {% set course = each_checkpoint.key.parent().get() %}
                  <p><span class="text-muted">{{course.course_name}}</span>, 
                    <a href="/course/{{course.key.id()}}/checkpoint/{{each_checkpoint.key.id()}}">{{each_checkpoint.name}}</a>
                  </p>
                
                {% endfor %}
              {% endif %}
            </td>
            <td><a class = "btn btn-info btn-small" href="/badge_creator/{{badge.key.id()}}">Edit</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>
</div>


{% endblock %}