{% extends 'user_base.html' %}

{% block body %}

<div class="container hidden-sm">
  <div class="row">
    <div class="page-header">
      <h1>Badge Vault
      <a class="btn btn-success pull-right" href="/badge_creator"><i class="icon-plus-sign-alt icon-large"></i> New Badge</a>
      </h1>
      
    </div>
  </div>
  <div class="row">
    <div class="col-12">
    {% for badge in badges %}
      <div class="col-4">
        <div class="badge-div small-badge pull-left">
          <a href="/badge/{{badge.key.id()}}">
          <div class="badge-new" style="background: {{badge.background}}; color: {{badge.icon_color}}">
            <div class="badge-icon-container"><i class="icon-{{badge.icon}}"></i></div>
          </div>
          </a>
        </div>
        <h4>{{badge.name}}</h4>
      </div>
    {% endfor %}
    </div>      
  </div>
</div>

<div class="mobile-page visible-sm">
  <div class="row mobile-row mobile-header">
    <h1>Badge Vault</h1>
    <div class="col-12">
      <a href="/profile" class="btn btn-default btn-block">Back to Profile</a>
      <a href="/badge_creator" class="btn btn-default btn-block">New Badge</a>
    </div>
  </div>
  <table class="table mobile-table">
    {% for badge in badges %}
      <tr>
        <td class="col-9 mobile-table-left">
          <div class="badge-div small-badge pull-left">
            <a href="/badge/{{badge.key.id()}}">
            <div class="badge-new" style="background: {{badge.background}}; color: {{badge.icon_color}}">
              <div class="badge-icon-container"><i class="icon-{{badge.icon}}"></i></div>
            </div>
            </a>
          </div>
          <h4>{{badge.name}}</h4>
        </td>
        <td class="col-3 mobile-table-right">
          <a href="/badge/{{badge.key.id()}}" class="btn btn-block btn-info">view</a>
          <a href="/badge_creator/{{badge.key.id()}}" class="btn btn-block btn-primary">edit</a>
        </td>

      </tr>

    {% endfor %}
  </table>

{% endblock %}