<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href = "/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href = "/stylesheets/farbtastic.css" rel="stylesheet">
    <link href = "/stylesheets/custom.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script> 
    <script type="text/javascript" src="/javascript/farbtastic.js"></script>
    {% block extra_js %}{% endblock %}
  </head>   
  
  <body> 
    <div class="navbar navbar-fixed-top navbar-inverse">
      <span class="pull-left"><a class="navbar-brand">the_badge_project</a></span>
      <div class="container">
        <ul class="nav navbar-nav pull-right">
          <li><a href="/link">Get Started</a></li>
        </ul>
      </div>
    </div>
      <div class="no-sidebar-div">
        <div class="container">
          {% block body %}{% endblock %}  
        </div>
      </div>



    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>    
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/javascript/bootstrap-fileupload.min.js"></script>           
  </body>
</html>