<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href = "/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href = "/stylesheets/farbtastic.css" rel="stylesheet">
    <link href = "/stylesheets/custom.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script> 
    <script type="text/javascript" src="/javascript/farbtastic.js"></script>

    <link href='//fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    
    {% block extra_js %}{% endblock %}
  </head>   
  
  <body> 
    <div class="navbar navbar-fixed-top navbar-inverse">
      <span class="navbar-text visible-lg pull-left the-brand"><i class="icon-sign-blank icon-large icon-brand"></i> the<span class="text-theme">badge</span>project</span>
      <div class="container">
        <ul class="nav navbar-nav pull-right visible-lg">
          {% if local_user %}
          <li><a href="/profile">{{local_user.formalName}}</a></li>
          <li><a href="{{google_user_api.create_logout_url('/')}}"><i class='icon-signout'></i> Log out</a></li>
          {% else %}
          <li><a href="/link">Get Started</a></li>
          {% endif %}
        </ul>
        <!-- navbar for phone and tablet screens -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand hidden-lg the-brand-mobile" href="/"><i class="icon-sign-blank icon-large icon-brand"></i> the<span class="text-theme">badge</span>project</a>

        <div class="nav-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav hidden-lg">
            {% if local_user %}
            <li><a href="/profile">{{local_user.formalName}}</a></li>
            <li><a href="{{google_user_api.create_logout_url('/')}}"><i class='icon-signout'></i> Log out</a></li>
            {% else %}
            <li><a href="/link">Get Started</a></li>
            {% endif %}
          </ul>
        </div>
      <!-- end navbars -->
      </div>
    </div>
      <div class="no-sidebar-div">
        <div class="container">
          {% block body %}{% endblock %}  
        </div>
      </div>



    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>    
    <script src="/bootstrap/js/bootstrap.min.js"></script>         
  </body>
</html>