{% if checkpoints %}
  {% for checkpoint in checkpoints %}
    <div class="panel col-lg-12">
      <div class="col-lg-4">
        <h3>{{checkpoint.name}}</h3>
        <p>{{checkpoint.description}}</p>
      </div>
      <div class="col-lg-6">
        {% if badges %}
          {% for badge in badges %}
            {% if badge.checkpoints %}
              {% if course.key.id() ~ "_" ~ checkpoint.key.id() in badge.checkpoints %}
                <div class="badge-div pull-left">
                  <div class="small-badge">
                    {% if student_profile %}
                      <a href="/student_badge/{{teacherID}}/{{course.key.id()}}/{{badge.key.id()}}">
                    {% else %}
                      <a href="/badge/{{badge.key.id()}}">
                    {% endif %}
                      {% if student_profile and achievement_status(student_id = local_user.key.id(), teacher_id = teacherID, course_id = courseID, badge_id = badge.key.id())== 'awarded' %}
                        <div class="badge-new" style="background: {{badge.background}}; color: {{badge.icon_color}}">
                          <div class="badge-icon-container"><i class="icon-{{badge.icon}}"></i></div>
                        </div>
                      {% elif not student_profile and user_is_teacher(course, local_user) %}
                        <div class="badge-new" style="background: {{badge.background}}; color: {{badge.icon_color}}">
                          <div class="badge-icon-container"><i class="icon-{{badge.icon}}"></i></div>
                        </div>
                      {% else %}
                        <div class="badge-new badge-grey">
                          <div class="badge-icon-container"><i class="icon-{{badge.icon}}"></i></div>
                        </div>
                      {% endif %}
                    </a>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
      <div class="col-lg-2">
      <h1>
        {% if badges and student_profile %}
          {{get_checkpoint_percent_completion(course = course, badges = badges, student = local_user, checkpoint = checkpoint)}}%
        {% endif %}
      </h1>
      </div>
    </div>
  {% endfor %}
{% endif %}