<table class="table mobile-table">
  {% for registration in registrations %}
    {% if registration.section == current_section or (current_section == 'all') %}
      {% set student = get_student(registration.student_id) %}
      
      <tr>
        <td class="col-9 mobile-table-left">
          <h4>{{student.name}}</h4>
          {% for badge in badges %}
            <a href="/student_badge/{{student.key.id()}}/{{courseID}}/{{badgeID}}/teacher_view">
              {% if badge_achieved(badge, course, student) %}
                <div class="small-badge-mobile pull-left">
                  <div class="badge-new" style="background: {{badge['background']}}; color: {{badge['icon_color']}}">
                    <div class="badge-icon-container"><i class="icon-{{badge['icon']}}"></i></div>
                  </div>
                </div>
              {% else %}
                <div class="small-badge-mobile pull-left">
                  <div class="badge-grey badge-new">
                    <div class="badge-icon-container"><i class="icon-{{badge['icon']}}"></i></div>
                  </div>
                </div>
              {% endif %}
            </a>
          {% endfor %}
        </td>
        <td class="col-3 mobile-table-right">
          <h4>{{get_checkpoint_percent_completion(student.key.id(), checkpoint)}}%</h4>
          <a class="btn btn-info btn-block" href="/student_profile/{{student.key.id()}}/{{courseID}}/teacher_view">profile</a>
        </td>
      </tr>
    {% endif %}
  {% endfor %}
</table>