<table class="table table-hover row">
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Course Section</th>
      <th class="hidden-sm">Badge Progress</th>
      <th class="hidden-sm">Percent Completion</th>
    </tr>
  </thead>
  <tbody>
    {% for registration in registrations %}
    {% if registration.section == current_section or (current_section == 'all') %}
      {% set student = registration.student %}
      <tr>
        <td>
          <a href="/student_profile/{{student.key.id()}}/{{courseID}}/teacher_view">{{student.name}}</a>
        </td>
        <td>{{registration.section}}</td>
        <td class="hidden-sm">
          {% for badge in badges %}
            <a href="/student_badge/{{student.key.id()}}/{{courseID}}/{{badge.key.id()}}/teacher_view">
              {% if badge_achieved(badge, course, student) %}
                <div class="tiny-badge pull-left">
                  <div class="badge-new" style="background: {{badge.background}}; color: {{badge.icon_color}}">
                    <div class="badge-icon-container"><i class="icon-{{badge.icon}}"></i></div>
                  </div>
                </div>
              {% else %}
                <div class="tiny-badge pull-left">
                  <div class="badge-grey badge-new">
                    <div class="badge-icon-container"><i class="icon-{{badge.icon}}"></i></div>
                  </div>
                </div>
              {% endif %}
            </a>
          {% endfor %}
        </td>
        <td class="hidden-sm"><h4>{{get_checkpoint_percent_completion(student.key.id(), checkpoint)}}%</h4></td>
      </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>