<div class="col-12">
  {% if checkpoint.featured %}
    <h2><i class="icon-star text-featured"></i> {{checkpoint.name}}</h2>
    <p class="lead">{{checkpoint.description}}</p>
  {% else %}
    <h3>{{checkpoint.name}}</h3>
    <p>{{checkpoint.description}}</p>

  {% endif %}
</div>
{% if student_profile or teacher_view_student_profile %}
{% set percent_complete = checkpoint.percent_complete %}
  <div class="percent-complete-progress-bar col-9">
    <div class="progress progress-striped active">
      <div class="progress-bar {% if percent_complete == 100 %}progress-bar-success{% endif %}" style="width: {{percent_complete}}%"></div>
    </div>
    
  </div>
  <h1 class="percent-complete col-3">{{percent_complete}}%</h1>
{% endif %}
<div class="col-12">
    {% for badge in checkpoint.badges %}
      <div class="badge-div pull-left">
        <div class="small-badge"  rel="tooltip" title="{{badge.name}} ({{badge.value}} points)" data-placement="top">
          {% if student_profile %}
            <a href="/student_badge/{{teacherID}}/{{courseID}}/{{badge.badge.key.id()}}">
          {% elif teacher_view_student_profile %}
            <a href="/student_badge/{{course.student.key.id()}}/{{courseID}}/{{badge.badge.key.id()}}/teacher_view">
          {% else %}
            <a href="/badge/{{badge.key.id()}}" >
          {% endif %}
            {% if (student_profile or teacher_view_student_profile) and badge.status == 'awarded' %}
              <div  class="badge-new" style="background: {{badge.background}}; color: {{badge.icon_color}}">
                <div class="badge-icon-container"><i class="icon-{{badge.icon}}"></i></div>
              </div>
            {% elif (student_profile or teacher_view_student_profile) %}
              <div class="badge-new badge-grey">
                <div class="badge-icon-container"><i class="icon-{{badge.icon}}"></i></div>
              </div>
            {% else %}
              <div  class="badge-new" style="background: {{badge.background}}; color: {{badge.icon_color}}">
                <div class="badge-icon-container"><i class="icon-{{badge.icon}}"></i></div>
              </div>
            {% endif %}
          </a>
        </div>
      </div>
    {% endfor %}
</div>
{% if not (student_profile or teacher_view_student_profile) %}
  <p class="col-12">
    
    <div class="btn-group">
      <a type="button" class="btn btn-link btn-small" href="/course/{{courseID}}/edit_checkpoint/{{checkpoint.checkpoint.key.id()}}">Edit Checkpoint</a>
      <a type="button" class="btn btn-link btn-small" href="/badge_creator?checkpointID={{checkpoint.checkpoint.key.id()}}&courseID={{courseID}}">New Badge</a>
      <a type="button" class="btn btn-link btn-small" href ="/course/{{courseID}}/checkpoint/{{checkpoint.checkpoint.key.id()}}">Class Progress</a>
    </div>
   
  </p>
{% endif %}