<td class="col-9 mobile-table-left">
  <h4>{{checkpoint.name}}</h4>
  <p>{{checkpoint.description}}</p>
  {% set badges = checkpoint.badges %}
  {% if not badges %}{% set badges = [] %}{% endif %}
  {% for badgeID in badges %}
    {% set badge = badges[badgeID] %}
    {% include 'small_badge_mobile.html' %}
  {% endfor %}
</td>
<td class="col-3 mobile-table-right">
  {% if teacher_view_student_profile or student_profile %}
    {% set progress = checkpoint.progress %}
    {% set student_progress = progress[studentID] %}
    {% set percent_complete = student_progress['percent_complete'] %}
    <h4>{{percent_complete}}%</h4>
    <p class="text-muted">complete</p>
  {% else %}
    <a href="/course/{{course.key.id()}}/checkpoint/{{checkpoint.key.id()}}" class="btn btn-info btn-block">view</a>
  {% endif %}
</td>