{% extends 'user_base.html' %}

{% block body %}

<div>
  <div class="row">
    <div class="page-header">
    {% if not (student_profile or tracher_view_student_profile) %}
        <a class="btn btn-add btn-large pull-right" href="/course/{{courseID}}/new_checkpoint"><i class="icon-plus-sign-alt icon-large"></i> New Checkpoint</a>
        {% endif %}
      <h1>{{course.course.course_name}}</h1>
    </div>
    
    {% if teacher_view_student_profile %}
      <div class="callout callout-danger">
        <a href="/course/{{courseID}}" class="btn btn-default pull-right btn-small">Back to Teacher View</a>
        <h4><span class="text-muted">Student:</span> {{course.student.formalName}}</h4>
        <p>You are currently viewing this student's course profile. This page will appear to you as it does to the student. Clicking on badges will take you to the student's view of those badges. If you would like to go back to the teacher view of this page, just click <a href="/course/{{courseID}}">back to teacher view</a></p>
      </div>
    {% endif %}
    {% if student_profile %}
      <p class="text-muted">Instructor: {{course.teacher.formalName}}</p>
    {% endif %}
    
  </div>

  <div class="row">
    <ul class="nav nav-tabs hidden-sm">
      <li {% if active_tab == 'checkpoints' or not active_tab%}class="active"{% endif %}><a href="#checkpoints" data-toggle="tab">Checkpoints</a></li>
      {% if student_profile or teacher_view_student_profile %}
        <li {% if active_tab == 'requests' %}class="active"{% endif %}><a href="#requests" data-toggle="tab">Pending Requests</a></li>
      {% else %}
        <li {% if active_tab == 'requests' %}class="active"{% endif %}>
          <a href="#requests" data-toggle="tab">
            {% set requests = course.number_of_badge_requests %}
            {% if requests > 0 %}
              <span class="badge badge-notification">{{requests}} </span>
            {% endif %}
            Badge Requests
          </a>
        </li>
      {% endif %}
      {% if not (student_profile or teacher_view_student_profile)%}
        <li {% if active_tab == 'students' %}class = "active"{% endif %}>
          <a href="#students" data-toggle="tab">
            {% set pending_regs = course.number_of_pending_registrations %}
            {% if pending_regs > 0 %}
              <span class="badge badge-notification">{{pending_regs}} </span>
            {% endif %}
            Enrolled Students
          </a>
        </li>
        <li {% if active_tab == 'settings' %}class = "active"{% endif %}><a href="#settings" data-toggle="tab">Settings</a></li>
      {% endif %}       
    </ul>
    <div class="list-group visible-sm">
      <a href="#checkpoints" data-toggle="tab" class="list-group-item">Checkpoints</a>
      {% if student_profile or teacher_view_student_profile %}
        <a href="#requests" data-toggle="tab" class="list-group-item">Pending Requests</a>
      {% else %}
          <a href="#requests" data-toggle="tab" class="list-group-item">
            {% set requests = course.number_of_badge_requests %}
            {% if requests > 0 %}
              <span class="badge badge-notification">{{requests}} </span>
            {% endif %}
            Badge Requests
          </a>
      {% endif %}
      {% if not (student_profile or teacher_view_student_profile)%}
          <a href="#students" data-toggle="tab" class="list-group-item">
            {% set pending_regs = course.number_of_pending_registrations %}
            {% if pending_regs > 0 %}
              <span class="badge badge-notification">{{pending_regs}} </span>
            {% endif %}
            Enrolled Students
          </a>
          <a href="#settings" data-toggle="tab" class="list-group-item">Settings</a>

      {% endif %}  
      
    </div>

    <div class="tab-content">
      {% if not (student_profile or teacher_view_student_profile) %}
      <div class="tab-pane fade {% if active_tab == 'students' %}in active{% endif %}" id="students">
        {% if course.registrations %}
          <div>
            <h3>Students Enrolled in Course</h3>
            <p class='text-muted'>Click on a student's name to view that student's progress in this course</p>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Student Name</th>
                  <th class="hidden-sm">Registration Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for registration in course.registrations %}
                <tr>
                  <td>
                    <strong class="visible-sm pull-left small-reg-status">
                      {% set reg_status = registration.status %}
                      {% if reg_status == 'approved' %}
                        <i class="icon-ok-sign text-success"></i> 
                      {% elif reg_status == 'revoked' %}
                        <i class="icon-ban-circle text-danger"></i> 
                      {% else %}
                        <i class="icon-question-sign text-muted"></i> 
                      {% endif %}
                    </strong> 
                    <a href="/student_profile/{{registration.student_id}}/{{courseID}}/teacher_view">
                       {{get_student(registration.student_id).formalName}}
                    </a>
                  </td>
                  <td class="hidden-sm">
                    {% set reg_status = registration.status %}
                    {% if reg_status == 'approved' %}
                      <span class="text-success">enrolled</span>
                    {% elif reg_status == 'revoked' %}
                      <span class="text-danger">enrollment revoked</span>
                    {% elif reg_status == 'denied' %}
                      <span class="text-danger">request denied</span>
                    {% else %}
                      <span class="text-muted">not enrolled</span>
                    {% endif %}
                    
                  </td>
                  <td>
                  {% if registration.status == "pending"%}
                    <a class="btn-loading btn btn-small btn-success" href="/complete_registration/{{courseID}}/{{registration.student_id}}/approved">approve</a> 
                    <a class="btn btn-loading btn-small btn-danger" href="/complete_registration/{{courseID}}/{{registration.student_id}}/denied">deny</a>
                  {% elif registration.status == "approved" %}
                    <a class="btn-loading btn btn-small btn-warning" href="/complete_registration/{{courseID}}/{{registration.student_id}}/revoked">un-enroll</a>
                  {% elif registration.status == "denied" %}
                    <a class="btn-loading btn btn-small btn-success" href="/complete_registration/{{courseID}}/{{registration.student_id}}/approved">approve</a> 
                  {% elif registration.status == "revoked" %}
                    <a class="btn-loading btn btn-small btn-info" href="/complete_registration/{{courseID}}/{{registration.student_id}}/approved">re-admit</a>

                  {% endif %}  
                  </td>         

                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
        <div class="marketing-div">
          <br><br><br>
          <h2 class="text-muted">No students registered</h2>
        </div>
        {% endif %}

      </div>
      {% endif %}

      <div class="tab-pane fade {% if active_tab == 'checkpoints' or not active_tab %}in active{% endif %}" id="checkpoints">
        <br>
        
          {% for checkpoint in course.checkpoints %}
            {% if checkpoint.featured %}
              <div class="row callout-checkpoint checkpoint-featured callout">
                {% include 'checkpoint_panel.html' %}
              </div>
            {% endif %}
          {% endfor %}
          {% for checkpoint in course.checkpoints %}
            {% if not checkpoint.featured %}
              <div class="row callout-checkpoint callout">
                {% include 'checkpoint_panel.html' %}
              </div>
            {% endif %}
          {% endfor %}
      </div>
      {% if student_profile or teacher_view_student_profile %}
      <div class="tab-pane fade {% if active_tab == 'requests' %}in active{% endif %}" id="requests">
        
        {% set requests = course.requests %}
        {% if requests %}
          <table class="table">
            <thead>
              <tr>
                <th>Badge</th>
                <th>Request Status</th>
                <th>Last Update</th>
              </tr>
            </thead>
            <tbody>
              {% for request in requests %}
                {% if request.status in ['revoked', 'denied', 'requested'] %}
                  <tr>
                    <td>
                      {% if teacher_view_student_profile %}
                      <a href="/student_badge/{{course.student.key.id()}}/{{courseID}}/{{request.badge_id}}/teacher_view">
                      {% else %}
                      <a href="/student_badge/{{teacherID}}/{{courseID}}/{{request.badge_id}}">
                      {% endif %}
                        {% set badge = request.badge %}
                        <div class="tiny-badge pull-left">
                          <div  class="badge-new" style="background: {{badge.background}}; color: {{badge.icon_color}}">
                            <div class="badge-icon-container"><i class="icon-{{badge.icon}}"></i></div>
                          </div>
                        </div> {{badge.name}}
                      </a>  
                    </td>
                    <td>{{request.status}}</td>
                    <td>...</td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <h3 class='text-muted'>No active badge requests</h3>
        {% endif %}
      </div>
      {% else %}
      <div class="tab-pane fade {% if active_tab == 'requests' %}in active{% endif %}" id="requests">
        
        {% set requests = course.requests %}
        {% if requests %}
          <div class="hidden-sm">
            <table class="table">
              <thead>
                <tr>
                  <th>Student Name</th>
                  <th>Badge</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for request in requests %}
                {% if request.status == 'requested' %}
                  <tr>
                    <td>{{request.student.formalName}}</td>
                    <td>
                      <a href="/student_badge/{{request.student.key.id()}}/{{courseID}}/{{request.badge_id}}/teacher_view">
                        {% set badge = request.badge %}
                        <div class="tiny-badge pull-left">
                          <div  class="badge-new" style="background: {{badge.background}}; color: {{badge.icon_color}}">
                            <div class="badge-icon-container"><i class="icon-{{badge.icon}}"></i></div>
                          </div>
                        </div> {{badge.name}}
                      </a>
                    </td>
                    <td>
                      <div class="btn-group">
                        <a type = "button" class="btn btn-info btn-small" href="/student_badge/{{request.student.key.id()}}/{{courseID}}/{{request.badge_id}}/teacher_view">Evidence</a> 
                        <a type = "button" class="btn btn-danger btn-small" href="/student_badge/{{request.student.key.id()}}/{{courseID}}/{{request.badge_id}}/teacher_view/award/denied">Deny</a> 
                        <a type = "button" class="btn btn-success btn-small" href="/student_badge/{{request.student.key.id()}}/{{courseID}}/{{request.badge_id}}/teacher_view/award/awarded">Award Badge</a>
                      </div>

                    </td>
                    
                  </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="visible-sm col-sm-12 mobile-request-list">
            {% for request in requests %}
              <div class="row">
                <div class ="col-sm-4 pull-left">
                  <h4>{{request.student.formalName}} </h4>
                </div>
                <div class="col-sm-4 pull-left">
                  <a href="/student_badge/{{request.student.key.id()}}/{{courseID}}/{{request.badge_id}}/teacher_view">

                    {% set badge = request.badge %}

                    <div class="tiny-badge-mobile pull-left">
                      <div  class="badge-new" style="background: {{badge.background}}; color: {{badge.icon_color}}">
                        <div class="badge-icon-container"><i class="icon-{{badge.icon}}"></i></div>
                      </div>
                    </div>
                    <h4 class="pull-left">{{badge.name}}</h4>
                  </a>

                </div>
              </div>
              <br>
              <div class="row">
                <div class="btn-group btn-group-justified visible-sm">
                  <a type = "button" class="btn btn-info btn-small" href="/student_badge/{{request.student.key.id()}}/{{courseID}}/{{request.badge_id}}/teacher_view">Evidence</a> 
                  <a type = "button" class="btn btn-danger btn-small" href="/student_badge/{{request.student.key.id()}}/{{courseID}}/{{request.badge_id}}/teacher_view/award/denied">Deny</a> 
                  <a type = "button" class="btn btn-success btn-small" href="/student_badge/{{request.student.key.id()}}/{{courseID}}/{{request.badge_id}}/teacher_view/award/awarded">Award Badge</a>
                </div>
              </div>
              <hr class="row">
            {% endfor %}
          </div>
        {% else %}
          <div class="marketing-div">
            <br><br><br>
            <h2 class="text-muted">No active badge requests</h2>
        </div>
        {% endif %}
      </div>
      {% endif %}
      <div class="tab-pane fade {% if active_tab == 'settings' %}in active{% endif %}" id="settings">
        {% if error %}
          <br>
          <div class="alert alert-danger">
            <strong>Woops!</strong> {{error}}
          </div>
        {% endif %}
        <div class="row">
          <div>
            <form method="post">   
              <div class="row">
                <div class="col-lg-6">
                <h3>Course Name</h3>
                  <p class="text-muted">Change your course name</p>
                  <input type="text" id="course_name" class="form-control" name="course_name" value="{{course.name}}"/>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                <h3>Course Code</h3>
                <p class="text-muted">Your students will need your google email address and this code to register for your course</p>
                  <input type="text" id="course_code" class = "form-control" name="course_code" value="{{course.code}}"/>
                </div>
                <div class="col-lg-6">
                  <div class="callout callout-warning">
                  <p><strong>The course code</strong> is what you will give to your students before they register for your course. They will be prompted to type your email address and this course code before their registration requests shows up in your profile. </p>
                  </div>
                </div>
              </div>
              <button class="btn btn-primary" type="submit">Save Course</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>  

{% endblock %}