{% extends 'user_base.html' %}
{% import 'common.html' as common %}

{% block body %}

<div class="hidden-sm container">
  <div class="row">
    <div class="page-header">
    {% if not (student_profile or tracher_view_student_profile) %}
        <a class="btn btn-success pull-right hidden-sm" href="/course/{{courseID}}/new_checkpoint"><i class="icon-plus-sign-alt icon-large"></i> New Checkpoint</a>
        {% endif %}
      <h1>{{course.name}}</h1>
      {% if student_profile %}
      <p class="text-muted">Instructor: {{teacher.name}}</p>
    {% endif %}
    </div>
    
    {% if teacher_view_student_profile %}
      <div class="callout callout-danger">
        <a href="/course/{{courseID}}" class="btn btn-default pull-right btn-small">Back to Teacher View</a>
        <h4><span class="text-muted">Student:</span> {{student.name}}</h4>
        <p>You are currently viewing this student's course profile. This page will appear to you as it does to the student. Clicking on badges will take you to the student's view of those badges. If you would like to go back to the teacher view of this page, just click <a href="/course/{{courseID}}">back to teacher view</a></p>
      </div>
    {% endif %}
    
  </div>

  <div class="row">
    <ul class="nav nav-tabs hidden-sm">
      <li {% if active_tab == 'checkpoints' or not active_tab%}class="active"{% endif %}><a href="#checkpoints" data-toggle="tab">Checkpoints</a></li>
      
      {% if not (student_profile or teacher_view_student_profile)%}
        <li {% if active_tab == 'students' %}class = "active"{% endif %}>
          <a href="#students" data-toggle="tab">
            {% set pending_regs = number_of_pending_registrations %}
            {% if pending_regs > 0 %}
              <span class="badge badge-notification">{{pending_regs}} </span>
            {% endif %}
            Enrolled Students
          </a>
        </li>
        <li {% if active_tab == 'settings' %}class = "active"{% endif %}><a href="#settings" data-toggle="tab">Settings</a></li>
      {% endif %}       
    </ul>

    <div class="tab-content">
      {% if not (student_profile or teacher_view_student_profile) %}
      <div class="tab-pane fade {% if active_tab == 'students' %}in active{% endif %}" id="students">
        {% if registrations %}
          <div>
            <h3>Student Registrations</h3>
            <p class='text-muted'>Click on a student's name to view that student's progress in this course</p>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Student Name</th>
                  <th>Registration Status</th>
                  <th>Section</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for registration in registrations %}
                <tr>
                  <td>
                    <a href="/student_profile/{{registration.student_id}}/{{courseID}}/teacher_view">
                       {{registration.student.name}}
                    </a>
                  </td>
                  <td class="hidden-sm">
                    {% set reg_status = registration.status %}
                    {% if reg_status == 'approved' %}
                      <span class="text-success">enrolled</span>
                    {% elif reg_status == 'revoked' %}
                      <span class="text-danger">enrollment revoked</span>
                    {% elif reg_status == 'denied' %}
                      <span class="text-danger">request denied</span>
                    {% else %}
                      <span class="text-muted">not enrolled</span>
                    {% endif %}
                    
                  </td>
                  <td>
                    {% if registration.status == 'approved' %}
                      {% set studentID = registration.student_id %}
                      {% set section_number = registration.section %}
                      {% include 'section_list.html' %}
                    {% endif %}

                  </td>
                  <td>
                  {% if registration.status == "pending"%}
                    <a class="btn-loading btn btn-small btn-success" href="/complete_registration/{{courseID}}/{{registration.student_id}}/approved">approve</a> 
                    <a class="btn btn-loading btn-small btn-danger" href="/complete_registration/{{courseID}}/{{registration.student_id}}/denied">deny</a>
                  {% elif registration.status == "approved" %}
                    <a class="btn-loading btn btn-small btn-warning" href="/complete_registration/{{courseID}}/{{registration.student_id}}/revoked">un-enroll</a>
                  {% elif registration.status == "denied" %}
                    <a class="btn-loading btn btn-small btn-success" href="/complete_registration/{{courseID}}/{{registration.student_id}}/approved">approve</a> 
                  {% elif registration.status == "revoked" %}
                    <a class="btn-loading btn btn-small btn-info" href="/complete_registration/{{courseID}}/{{registration.student_id}}/approved">re-admit</a>

                  {% endif %}  
                  </td>         

                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
        <div class="marketing-div">
          <br><br><br>
          <h2 class="text-muted">No students registered</h2>
        </div>
        {% endif %}

      </div>
      {% endif %}

      <div class="tab-pane fade {% if active_tab == 'checkpoints' or not active_tab %}in active{% endif %}" id="checkpoints">
        <br>
        {% if checkpoints %}
          {% for checkpoint in checkpoints %}
            {% if checkpoint.featured %}
              <div class="col-12 hidden-sm callout-checkpoint checkpoint-featured callout">
                {% include 'checkpoint_panel.html' %}
              </div>
            {% endif %}
          {% endfor %}
          {% for checkpoint in checkpoints %}
            {% if not checkpoint.featured %}
              <div class="col-12 hidden-sm callout-checkpoint callout">
                {% include 'checkpoint_panel.html' %}
              </div>
            {% endif %}
          {% endfor %}
        {% elif not (student_profile or teacher_view_student_profile) %}
          <div class="marketing-div">
            <h1>No checkpoints</h1>
            <p class='lead'>Create your first checkpoint now!</p>
            <p><a class="btn btn-primary" href="/course/{{courseID}}/new_checkpoint">New Checkpoint</a></p>
          </div>
        {% endif %}
      </div>
      
      <div class="tab-pane fade {% if active_tab == 'settings' %}in active{% endif %}" id="settings">
        {% if error %}
          <br>
          <div class="alert alert-danger">
            <strong>Woops!</strong> {{error}}
          </div>
        {% endif %}
        <div class="row">
          <div class="col-12">
            <form method="post">   
              <div class="row">
                <div class="col-lg-6">
                <h3>Course Name</h3>
                  <p class="text-muted">Change your course name</p>
                  <input type="text" id="course_name" class="form-control" name="course_name" value="{{course.name}}"/>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                <h3>Course Code</h3>
                <p class="text-muted">Your students will need your google email address and this code to register for your course</p>
                  <input type="text" id="course_code" class = "form-control" name="course_code" value="{{course.code}}"/>
                </div>
                <div class="col-lg-6">
                  <div class="callout callout-warning">
                  <p><strong>The course code</strong> is what you will give to your students before they register for your course. They will be prompted to type your email address and this course code before their registration requests shows up in your profile. </p>
                  </div>
                </div>
              </div>
              <button class="btn btn-primary" type="submit">Save Course</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>  

<div class="mobile-page visible-sm">
  <div class="row mobile-row mobile-header">
    <h1>{{course.name}}</h1>
    <div class="col-12">
      <a href="/profile" class="btn btn-default btn-block">Back to Profile</a>
      <a href="#checkpoints-mobile" class="btn btn-default btn-block" data-toggle="tab">Checkpoints</a>
      
      {% if not (student_profile or teacher_view_student_profile)%}
        <a href="#students-mobile" class="btn btn-default btn-block" data-toggle="tab">
          {% set pending_regs = number_of_pending_registrations %}
          {% if pending_regs > 0 %}
            <span class="badge badge-notification">{{pending_regs}} </span>
          {% endif %}
          Enrolled Students
        </a>
        <a href="#settings-mobile" class="btn btn-default btn-block" data-toggle="tab">Settings</a>
      {% endif %}  
    </div>
  </div>
  <div class="tab-content">
    <div class="tab-pane fade {% if active_tab == 'checkpoints' or not active_tab %}in active{% endif %}" id="checkpoints-mobile">
      <table class="table mobile-table">
        {% if teacher_view_student_profile %}
        <tr>
          <td class="mobile-student-row " colspan="2">
            <h4><span class="text-warning">Viewing:</span> {{student.name}}</h4>
            <a class="btn btn-warning btn-block" href="/course/{{courseID}}">Return to {{course.name}}</a>
          </td>
        </tr>
        {% else %}
        <tr class="mobile-break-row"  >
          {% if student_profile %}
            <td colspan="2"><h5>Checkpoints for this course</h5></td>
          {% else %}
            <td class="mobile-table-left"><h5>Checkpoints for this course</h5></td>
            <td class="col-3">
              <a class="btn btn-success" href="/course/{{courseID}}/new_checkpoint"><i class="icon-plus-sign-alt icon-large"></i> New</a>
            </td>
          {% endif %}
        </tr>
        {% endif %}
      {% if checkpoints %}
      {% for checkpoint in checkpoints %}
        {% if checkpoint.featured %}
          <tr class="mobile-checkpoint-featured">
            {% include 'checkpoint_panel_mobile.html' %}
          </tr>
        {% endif %}
        {% endfor %}
        {% for checkpoint in checkpoints %}
          {% if not checkpoint.featured %}
            <tr class="mobile-checkpoint">
              {% include 'checkpoint_panel_mobile.html' %}
            </tr>
          {% endif %}
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="2" class="mobile-table-right">
        <h1 class="text-muted">No checkpoints yet</h1>
        </td>
      </tr>
      {% endif %}
      </table>
    </div>
      
    {% if not (student_profile or teacher_view_student_profile) %}
      <div class="tab-pane fade {% if active_tab == 'students' %}in active{% endif %}" id="students-mobile">
        
        <table class="table mobile-table">
        <tr class="mobile-break-row">
          <td class="mobile-break-row " colspan="2"><h5>Students in this coursee</h5></td>
        </tr>
          {% if registrations %}
            {% for registration in registrations %}
              <tr> 
                <td class="col-12 mobile-table-left">
                  <h4 class="mobile-course-action-pane">
                    {{registration.student.formalName}}
                    {% if registration.status == "pending"%}
                    <a class="btn-loading pull-right btn btn-success" href="/complete_registration/{{courseID}}/{{registration.student_id}}/approved">approve</a>
                    <a class="btn btn-loading pull-right btn-danger" href="/complete_registration/{{courseID}}/{{registration.student_id}}/denied">deny</a>
                    {% elif registration.status == "approved" %}
                      <a class="btn-loading btn pull-right btn-warning" href="/complete_registration/{{courseID}}/{{registration.student_id}}/revoked">un-enroll</a>
                      <a class="btn pull-right btn-info" href="/student_profile/{{registration.student_id}}/{{courseID}}/teacher_view">view</a>
                    {% elif registration.status == "denied" %}
                      <a class="btn-loading btn pull-right btn-success" href="/complete_registration/{{courseID}}/{{registration.student_id}}/approved">approve</a> 
                    {% elif registration.status == "revoked" %}
                      <a class="btn-loading btn pull-right btn-info" href="/complete_registration/{{courseID}}/{{registration.student_id}}/approved">re-admit</a>
                    {% endif %} 

                  </h4>
                   
                  {% if registration.status == 'revoked' %}
                    <p class="text-danger">enrollment revoked</p>
                  {% elif registration.status == 'approved' %}
                    <p class="text-success">
                      enrolled{% if registration.section %} in section {{registration.section}}{% endif %}
                    </p>
                    <div class="btn-group section-group btn-group-justified">
                    {% for number in '12345678' %}
                      <a class="btn 
                        {% if registration.section == number %}btn-default{% else %}btn-link{% endif %} btn-small" 
                        href="/change_section/{{course.key.id()}}/{{registration.student_id}}/section/{{number}}"
                      >
                        {{ number }}
                      </a>
                    {% endfor %}
                    </div>
                  {% elif registration.status == 'pending' %}
                    <p class="text-info">pending confirmation</p>
                  {% elif registration.status == 'denied' %}
                    <p class="text-danger">denied enrollment</p>
                  {% endif %}
                </td>
                  
              </tr>
            {% endfor %}
          {% endif %}
        </table>
      </div>
      <div class="tab-pane fade {% if active_tab == 'settings' %}in active{% endif %}" id="settings-mobile">
        {% if error %}
          <br>
          <div class="alert alert-danger">
            <strong>Woops!</strong> {{error}}
          </div>
        {% endif %}
        <div class="row">
          <div class="col-12">
            <form method="post">   
              <div class="row">
                <div class="col-lg-6">
                <h3>Course Name</h3>
                  <p class="text-muted">Change your course name</p>
                  <input type="text" id="course_name" class="form-control" name="course_name" value="{{course.name}}"/>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                <h3>Course Code</h3>
                <p class="text-muted">Your students will need your google email address and this code to register for your course</p>
                  <input type="text" id="course_code" class = "form-control" name="course_code" value="{{course.code}}"/>
                </div>
                <div class="col-lg-6">
                  <div class="callout callout-warning">
                  <p><strong>The course code</strong> is what you will give to your students before they register for your course. They will be prompted to type your email address and this course code before their registration requests shows up in your profile. </p>
                  </div>
                </div>
              </div>
              <button class="btn btn-primary btn-block visible-sm" type="submit">Save Course</button>
              <button class="btn btn-primary hidden-sm" type="submit">Save Course</button>
            </form>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}