{% extends 'user_base.html' %}

{% block body %}

<div class="container">
  <div class="row">
    <h1>{{local_user.formalName}} <small><a href="/edit_profile">[edit]</a></small></h1>
    <p>{{google_user_api.get_current_user().email()}}</p>
    {% if local_user.teacher %}
      <a href="/edit_course" class="btn btn-info">Create New Course</a>
    {% else %}
      <a href="/request_teacher_access" class="btn btn-info">Request Teacher Access</a>
    {% endif %}
    <a href="/register" class="btn btn-primary">Register for Course</a>
  </div>
  {% if enrollments %}
    <div class="row">
      <h3>Courses you are registered for</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Course</th>
            <th>Registration Status</th>
            <th>Notifications</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in enrollments %}
          <tr>
            <td>{{entry["course"].course_name}} 
            <td>{{entry["status"]}}</td>
            <td> </td>
            <td>{% if entry["status"]=='approved' %}<a class="btn btn-small btn-primary" href="/student_profile/{{entry['course'].key.parent().id()}}/{{entry['course'].key.id()}}">View Course</a>{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>  {% endif %}
  {% if local_user.teacher %}
    {% if courses or courses in [none, []] %}
      <div class="row">
        <h3>Courses you are teaching</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Course</th>
              <th>Notifications</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for course in courses %}
            <tr>
              <td>{{course.course_name}}</td>
              <td>
                {% set requests = get_number_of_badge_requests(course) %}
                {% if requests > 0 %}
                  <p><span class="badge badge-notification">{{requests}}</span> 
                  <a href="/course/{{course.key.id()}}?active_tab=requests">badge request{% if requests >1 %}s{% endif %}</a></p>
                {% endif %}
                {% set registrations = get_number_of_pending_registrations(course) %}
                {% if registrations > 0 %}<p><span class="badge badge-notification">{{registrations}}</span> pending enrollment</p>{% if registrations > 1 %}s{% endif %}{% endif %}
              </td>
              <td><a class="btn btn-small btn-primary" href="/course/{{course.key.id()}}">View Course</a> <a class="btn btn-small btn-info" href="/course/{{course.key.id()}}?active_tab=settings">Settings</a></td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endif %}
  
</div>  

{% endblock %}