{% extends 'user_base.html' %}


{% block body %}
<div class="hidden-sm container">
  <div class="row">
    <div class="page-header">
    <h1>{{checkpoint.name}}<a class="btn btn-success btn-small pull-right" href="/course/{{courseID}}/edit_checkpoint/{{checkpoint.key.id()}}">Edit Checkpoint</a></h1>
    <p class="text-muted">Checkpoint for the course <a href="/course/{{courseID}}">{{course.name}}</a></p>
    </div>
    
    <p class="lead">{{checkpoint.description}}</p>
    
    <div class="btn-group section-group section-toggle-group">
      <button class="btn btn-info section-toggle-button {% if not active_section or active_section == 'all' %}active{% endif %}" data-toggle="tab" href="#all_{{courseID}}_sections">All Sections</button>
      {% for number in section_string %}
        <button class="btn btn-info section-toggle-button {%if active_section == number %}active{% endif %}" data-toggle="tab" href="#{{courseID}}_section_{{number}}">{{number}}</button>
      {% endfor %}
    </div>
  </div>
  <div class="tab-content">
    {% if registrations %}
      <div class="tab-pane fade {% if not active_section or active_section == 'all' or active_section not in section_string %}in active{% endif %}" id="all_{{courseID}}_sections">
        {% set current_section = 'all' %}
        {% include 'checkpoint_section_tab.html' %}
      </div>
      {% for number in section_string %}
        <div class="tab-pane fade {%if active_section == number %}in active{% endif %}" id="{{courseID}}_section_{{number}}">
          {% set current_section = number %}
          {% include 'checkpoint_section_tab.html' %}
          
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
<div class="mobile-page visible-sm">
  <div class="row mobile-row mobile-header">
    <h1>{{checkpoint.name}}</h1>
    <p class="text-muted">Course: {{course.name}}</p>
    <div class="col-12">
      <a href="/course/{{course.key.id()}}" class="btn btn-default btn-block">{{course.name}} Home</a>
      <a href="/course/{{courseID}}/edit_checkpoint/{{checkpoint.key.id()}}" class="btn btn-default btn-block">Edit Checkpoint</a>
    </div>
  </div>
  {% if checkpoint.description not in [none, ''] %}
  <div class="col-12 checkpoint-lead">
    <p class="lead"><strong>Description:</strong> {{checkpoint.description}}</p>

  </div>
  {% endif %}
  <div class="row">
    <div class="btn-group section-toggle-group btn-group-justified">
      <a class="btn btn-info section-toggle-button {% if not active_section or active_section == 'all' %}active{% endif %}" data-toggle="tab" href="#all_{{courseID}}_sections_mobile">All</a>
      {% for number in section_string %}
        <a class="btn btn-info section-toggle-button {%if active_section == number %}active{% endif %}" data-toggle="tab" href="#{{courseID}}_section_{{number}}_mobile">{{number}}</a>
      {% endfor %}
    </div>
  </div>
  <div class="tab-content">
  {% if registrations %}
    <div class="tab-pane fade {% if not active_section or active_section == 'all' or active_section not in section_string %}in active{% endif %}" id="all_{{courseID}}_sections_mobile">
      {% set current_section = 'all' %}
      {% include 'checkpoint_mobile_section_tab.html' %}
    </div>
    {% for number in section_string %}
      <div class="tab-pane fade {%if active_section == number %}in active{% endif %}" id="{{courseID}}_section_{{number}}_mobile">
        {% set current_section = number %}
        {% include 'checkpoint_mobile_section_tab.html' %}
        
      </div>
    {% endfor %}
  </div>
  {% endif %}
  
</div>
{% endblock %}