{% extends 'user_base.html' %}

{% block body %}

<div>
  <div class="row">
  {% if teacher_view_student_badge %}
    <div class="callout callout-danger">
      <div class="pull-right">
        <a href="/student_profile/{{student.key.id()}}/{{course.key.id()}}/teacher_view" class="btn btn-warning btn-small">{{student.formalName}}'s Course Progress</a>
        <a href="/badge/{{badge.key.id()}}" class="btn btn-default btn-small">Teacher View of Badge</a>
      </div>
      <h4><span class="text-muted">Student:</span> {{student.formalName}}</h4>
      <p>You are currently viewing the student version of this badge page. This page will appear to you as it does to the {{student.formalName}}. If you would like to go back to the teacher view of this page, just click <a href="/course/{{course.key.id()}}">back to teacher view</a></p>
      {% if achievement_status == 'awarded' %}
        <p class="text-success"><i class="icon-ok-sign"></i> {{student.formalName}} has been awarded this badge</p>
        <p>
          <a class="btn-loading btn btn-danger btn-small" href="/student_badge/{{student.key.id()}}/{{course.key.id()}}/{{badge.key.id()}}/teacher_view/award/revoked">Revoke This Badge</a>
        </p>
      {% elif achievement_status == 'revoked' %}
        <p class="text-danger"><i class="icon-exclamation-sign"></i>You have revoked this badge from {{student.formalName}}</p>
        <p>
          <a class="btn-loading btn btn-success btn-small" href="/student_badge/{{student.key.id()}}/{{course.key.id()}}/{{badge.key.id()}}/teacher_view/award/awarded">Award This Badge</a>
        </p>
      {% elif achievement_status == 'requested' %}
        <p class="text-warning"><i class="icon-warning-sign"></i> {{student.formalName}} has requested this badge</p>
        <p>
          <a class="btn-loading btn btn-warning btn-small" href="/student_badge/{{student.key.id()}}/{{course.key.id()}}/{{badge.key.id()}}/teacher_view/award/denied">Deny this Request</a> 
          <a class="btn-loading btn btn-success btn-small" href="/student_badge/{{student.key.id()}}/{{course.key.id()}}/{{badge.key.id()}}/teacher_view/award/awarded">Award This Badge</a>
        </p>
      {% elif achievement_status == 'denied' %}
        <p class="text-danger"><i class="icon-exclamation-sign"></i> You have denied {{student.formalName}}'s request for this badge</p>
        <p>
          <a class="btn-loading btn btn-success btn-small" href="/student_badge/{{student.key.id()}}/{{course.key.id()}}/{{badge.key.id()}}/teacher_view/award/awarded">Award This Badge</a>
        </p>
      {% else %}
        <p class="text-muted">{{student.formalName}} has not yet been awarded this badge</p> 
        <p>
          <a class="btn-loading btn btn-success btn-small" href="/student_badge/{{student.key.id()}}/{{course.key.id()}}/{{badge.key.id()}}/teacher_view/award/awarded">Award This Badge</a>
        </p>
      {% endif %}
    </div>

      
  {% endif %}
    <h4 class="pull-left">
      <div class="badge-div pull-left">
        <div class="badge-new" style="background: {{badge.background}}; color: {{badge.icon_color}}">
          <div class="badge-icon-container"><i class="icon-{{badge.icon}}"></i></div>
        </div>
      </div>
    </h4>

    <div class="single-badge-description">
      <h1>
        {{badge.name}}
        {% if not (student_badge or teacher_view_student_badge) %} 
          <small><a href="/badge_creator/{{badge.key.id()}}">[edit]</a></small>
        {% endif %}
        
        {% if student_badge %}
          <a href="/student_profile/{{teacherID}}/{{courseID}}" class="btn btn-default pull-right">{{course.course_name}}</a>
        {% endif %}
      </h1>
      {% if student_badge and achievement_status == 'awarded' %}
        <p class="text-success"><i class="icon-ok-sign"></i>You have been awarded this badge</p>
      

      {% elif student_badge and achievement_status == 'revoked' %}
        <p class="text-danger"><i class="icon-exclamation-sign"></i> This badge has been revoked by your teacher</p>
      {% elif student_badge %}
        <p class="text-muted">You have not yet earned this badge</p>
      {% endif %}
      <hr>
      <p class="lead">{{badge.requirement}}</p>
      
    </div>
  </div>
  <div class="row">
  {% set badge_checkpoints = get_checkpoints_for_badge(badge=badge, user=teacher) %}
    {% if badge_checkpoints %}
    <div class="callout callout-info">
      <p>This badge is associated with the following checkpoints:</p>
      {% for checkpoint in badge_checkpoints %}
        <p><a href="/course/{{checkpoint.key.parent().get().key.id()}}/checkpoint/{{checkpoint.key.id()}}">{{checkpoint.key.parent().get().course_name}}, {{checkpoint.name}}</a></p>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  {% if not (student_badge or teacher_view_student_badge) %}
  <div class="row" id ="badge-course-list">
    {% include 'badge_course_list.html' %}
  </div>
  {% elif not teacher_view_student_badge %}
    {% if achievement_status != "awarded" %}
      <div class="row">
      <hr>
      <p>If you feel you have done what is required to be awarded this badge, you may request that your instructor grant you the badge. Please keep in mind that you will not recieve this badge until you instructor grants the final approval</p>
        {% if achievement_status == "requested" %}
          <button class="disabled btn">Your request is awaiting approval</button>
        {% else %}
          <a href="/request_badge/{{teacherID}}/{{courseID}}/{{badge.key.id()}}" class="btn-loading btn btn-primary">Request This Badge</a>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
</div>

{% if not (student_badge or teacher_view_student_badge) %}
<script type="text/javascript">
  $('#badge-course-list').on('submit', '.achievement-form', function(e){
    e.preventDefault();
    var form = $(this).closest('form');
    $.ajax({
      type: form.attr('method'),
      url: form.attr('action'),
      data: form.serialize(),
      cache: false,
      success: function(data, status, xHTTP){
        $('#badge-course-list').html(data);
      }
    });
    return false;
  });
</script>
{% endif %}



{% endblock %}