{% extends 'user_base.html' %}

{% block body %}

<div class="hidden-sm">
  <div class="row">
    <div class="pull-left badge-page-badge">
      <div class="badge-div pull-left">
        <div class="badge-new" style="background: {{badge.background}}; color: {{badge.icon_color}}">
          <div class="badge-icon-container"><i class="icon-{{badge.icon}}"></i></div>
        </div>
      </div>
    </div>
    <div class="page-header">
      <h1>
        {{badge.name}} 
        {% if not (teacher_view_student_badge or student_badge) %}
          <small><a href="/badge_creator/{{badge.key.id()}}">[edit]</a></small>
        {% endif %}
      </h1>
      {% set badge_checkpoints = get_checkpoints_for_badge(badge=badge, user=teacher) %}
      {% if badge_checkpoints and (teacher_view_student_badge or not student_badge) %}
        <p><span class="text-muted">Associated with the following checkpoints: </span>
        {% for checkpoint in badge_checkpoints %}
          <a href="/course/{{checkpoint.key.parent().get().key.id()}}/checkpoint/{{checkpoint.key.id()}}">{{checkpoint.key.parent().get().course_name}}, {{checkpoint.name}} </a>
        {% endfor %}
        </p>
      {% else %}
      <br><br>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div>
        <p class="lead">{{badge.requirement}}</p>
      </div>
    </div>
    <div class="col-lg-6">
    {% if teacher_view_student_badge %}
      <div class="callout callout-info">
        <h4><span class="text-muted">Student:</span> {{student.formalName}}</h4>
        <p>You are currently viewing the student version of this badge page. This page will appear to you as it does to the {{student.formalName}}. </p>
        <p><a class="btn btn-default btn-small" href="/badge/{{badge.key.id()}}">back to teacher view</a></p>
      </div>
      {% if achievement_status == 'awarded' %}
        <div class="callout callout-success">
          <h4><i class="icon-ok-sign text-success icon-large"></i> {{student.formalName}} has been awarded this badge</h4>
          <p>
            <a class="btn-loading btn btn-danger btn-small" href="/student_badge/{{student.key.id()}}/{{course.key.id()}}/{{badge.key.id()}}/teacher_view/award/revoked">Revoke This Badge</a>
          </p>
        </div>
      {% elif achievement_status == 'revoked' %}
        <div class="callout callout-danger">
          <h4><i class="icon-exclamation-sign icon-large text-danger"></i> You have revoked this badge</h4>
          <a class="btn-loading btn btn-success btn-small" href="/student_badge/{{student.key.id()}}/{{course.key.id()}}/{{badge.key.id()}}/teacher_view/award/awarded">Award This Badge</a>
        </div>
        
      {% elif achievement_status == 'requested' %}
      <div class="callout callout-warning">
        <h4 ><i class="icon-warning-sign tex-warning"></i> {{student.formalName}} has requested this badge</h4>
        <p>
          <a class="btn-loading btn btn-warning btn-small" href="/student_badge/{{student.key.id()}}/{{course.key.id()}}/{{badge.key.id()}}/teacher_view/award/denied">Deny this Request</a> 
          <a class="btn-loading btn btn-success btn-small" href="/student_badge/{{student.key.id()}}/{{course.key.id()}}/{{badge.key.id()}}/teacher_view/award/awarded">Award This Badge</a>
        </p>
        </div>
      {% elif achievement_status == 'denied' %}
        <div class="callout callout-danger">
          <h4><i class="icon-exclamation-sign icon-large text-danger"></i> You have denied the request from {{student.formalName}}</h4>
          <a class="btn-loading btn btn-success btn-small" href="/student_badge/{{student.key.id()}}/{{course.key.id()}}/{{badge.key.id()}}/teacher_view/award/awarded">Award This Badge</a>
        </div>
        
      {% else %}
        <div class="callout callout-info">
          <h4>{{student.formalName}} has not yet been awarded this badge</h4>
          <a class="btn-loading btn btn-success btn-small" href="/student_badge/{{student.key.id()}}/{{course.key.id()}}/{{badge.key.id()}}/teacher_view/award/awarded">Award This Badge</a>
        </div>
      {% endif %}
    {% elif student_badge %}
      {% if achievement_status == 'awarded' %}
        <div class="callout callout-success">
          <h4><i class="icon-ok-sign text-success icon-large"></i> Badge Awarded</h4>
          <p>Awesome! Your teacher has awarded you this badge</p>
        </div>
      {% elif achievement_status == 'denied' %}
        <div class="callout callout-danger">
          <h4><i class="icon-exclamation-sign text-danger icon-large"></i> Woops...</h4>
          <p>Your teacher has denied your request to be awarded this badge</p>
          <p><a href="/request_badge/{{teacherID}}/{{courseID}}/{{badge.key.id()}}" class="btn-loading btn btn-primary">Request This Badge</a></p>
        </div>
      {% elif achievement_status == 'revoked' %}
        <div class="callout callout-danger">
          <h4><i class="icon-exclamation-sign text-danger icon-large"></i> Woops...</h4>
          <p>Your teacher has revoked this badge</p>
          <p><a href="/request_badge/{{teacherID}}/{{courseID}}/{{badge.key.id()}}" class="btn-loading btn btn-primary">Request This Badge</a></p>
        </div>
      {% else %}
        <div class="callout callout-info">
          <p>If you feel you have done what is required to be awarded this badge, you may request that your instructor grant you the badge. Please keep in mind that you will not recieve this badge until you instructor grants the final approval</p>
          {% if achievement_status == "requested" %}
            <button class="disabled btn">Your request is awaiting approval</button>
          {% else %}
            <a href="/request_badge/{{teacherID}}/{{courseID}}/{{badge.key.id()}}" class="btn-loading btn btn-primary">Request This Badge</a>
          {% endif %}
        </div> 
      {% endif %}

    {% else %}
      <div class="callout callout-info">
          <p>Below you will see the students enrolled in each of your courses. You may award this badge to each of those students directly from this page, or you can click on the student's name and view that student's progress toward this badge</p>
        </div> 

    {% endif %}
    </div>
  </div>
    
  {% if not (student_badge or teacher_view_student_badge) %}
    <div class="row" id ="badge-course-list">
      {% include 'badge_course_list.html' %}
    </div>
  
  {% endif %}
</div>

<div class="mobile-page visible-sm">
  <div class="row mobile-row mobile-header">
    <h1>{{badge.name}}</h1>
    <h3>
      <div class="mobile-page-badge">
        <div class="badge-div">
          <div class="badge-new" style="background: {{badge.background}}; color: {{badge.icon_color}}">
            <div class="badge-icon-container"><i class="icon-{{badge.icon}}"></i></div>
          </div>
        </div>
      </div>
    </h3>
    <div class="col-12">
      <p class="lead"><strong>Requirements:</strong> {{badge.requirement}}</p>
    </div>
    {% if not (student_badge or teacher_view_student_badge) %}
      <div class="col-12">
        <a class="btn btn-default btn-block" href="/badge_creator/{{badge.key.id()}}">Edit Badge</a>
        {% for course in courses %}
          <a class="btn btn-default btn-block" data-toggle="tab" href="#mobile_badge_course_{{course.course.key.id()}}">Students in {{course.name}}</a>
        {% endfor %}
      </div>
    {% endif %}
    {% if teacher_view_student_badge %}
      <div class="col-12">
        <a class="btn btn-default btn-block" href="/badge_creator/{{badge.key.id()}}">Edit Badge</a>
        <a class="btn btn-default btn-block" href="/course/{{course.key.id()}}">Return to {{course.course_name}}</a>
        <a class="btn btn-default btn-block" href="/badge/{{badge.key.id()}}?active_course={{course.key.id()}}">See progress of all students</a>
      </div>

      <div class="col-12">
        <h3>{{student.formalName}}</h3>
        {% if achievement_status =='requested' %}
          <p class="lead">Student has requested this badge</p>
        {% elif achievement_status =='denied' %}
          <p class="lead">You denied student's badge request</p>
        {% elif achievement_status =='revoked' %}
          <p class="lead">You revoked student's badge award</p>
        {% elif achievement_status =='awarded' %}
          <p class="lead">You awarded student this badge</p>
        {% else %}
          <p class="lead">Student has not yet recieved this badge</p>
        {% endif %}
        {% if achievement_status != 'awarded' %}
          <a class="btn btn-success btn-loading btn-block" href="/student_badge/{{student.key.id()}}/{{course.key.id()}}/{{badge.key.id()}}/teacher_view/award/awarded">Award Badge</a>
        {% else %}
          <a class="btn btn-danger btn-loading btn-block" href="/student_badge/{{student.key.id()}}/{{course.key.id()}}/{{badge.key.id()}}/teacher_view/award/revoked">Revoke Badge</a>
        {% endif %}
        {% if achievement_status == 'requests' %}
          <a class="btn btn-danger btn-loading btn-block" href="/student_badge/{{student.key.id()}}/{{course.key.id()}}/{{badge.key.id()}}/teacher_view/award/denied">Deny Request</a>
        {% endif %}
      </div>
    {% endif %}
    {% if student_badge %}
      <div class="col-12">
        <a class="btn btn-default btn-block" href="/student_profile/{{teacher.key.id}}/{{course.key.id()}}">Return to {{course.course_name}}</a>
      </div>
    {% endif %}
  </div>
  {% if not (student_badge or teacher_view_student_badge) %}
  <div class="tab-content">
    {% for course in courses %}
    <div class="tab-pane fade 
        {% if active_course == '' ~ course.course.key.id() %}in active 
        {% elif not active_course and loop.first %}in active
        {% endif %}" id="mobile_badge_course_{{course.course.key.id()}}">

        {% set enrolled_students = course.enrolled_students %}
        <table class="table mobile-table">
          <tr>
            <td class="mobile-table-right mobile-break-row" colspan="2">
              <h4>{{course.name}}</h4>
              <p>Badge status for each student enrolled in this course</p>
              <a class="btn btn-info btn-block" href="/course/{{course.course.key.id()}}">Course Home</a>
            </td>
          </tr>
        {% if enrolled_students %}
          {% for student in enrolled_students %}
          {% set current_achievement_status = achievement_status(student, badge, teacher, course.course) %}
            <tr>
              <td class="col-8 mobile-table-left">
                <h4>{{student.formalName}}</h4>
                <p class="text-muted">Badge Status: {{current_achievement_status }} </p>
              </td>
              <td class="col-4 mobile-table-right">
                {% if current_achievement_status != 'awarded' %}
                  <a class="btn-loading btn btn-success btn-block" href="/student_badge/{{student.key.id()}}/{{course.course.key.id()}}/{{badge.key.id()}}/teacher_view/award/awarded?single_badge=true">award</a>
                  {% if current_achievement_status == 'requested' %}
                    <a class="btn-loading btn btn-danger btn-block" href="/student_badge/{{student.key.id()}}/{{course.course.key.id()}}/{{badge.key.id()}}/teacher_view/award/denied?single_badge=true">deny</a>
                  {% endif %}
                {% else %}
                  <a class="btn-loading btn btn-warning btn-block" href="/student_badge/{{student.key.id()}}/{{course.course.key.id()}}/{{badge.key.id()}}/teacher_view/award/revoked?single_badge=true">revoke</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        {% endif %}
        </table>  
    </div>
  {% endfor %}
  </div>
  {% endif %}

</div>

{% if not (student_badge or teacher_view_student_badge) %}
<script type="text/javascript">
  $('#badge-course-list').on('submit', '.achievement-form', function(e){
    e.preventDefault();
    var form = $(this).closest('form');
    $.ajax({
      type: form.attr('method'),
      url: form.attr('action'),
      data: form.serialize(),
      cache: false,
      success: function(data, status, xHTTP){
        $('#badge-course-list').html(data);
      }
    });
    return false;
  });
</script>
{% endif %}



{% endblock %}