<li class="{{profile_active}}"><a href="/profile"><i class="icon-user"></i> Profile</a></li>
{% if local_user.teacher %}
  <li class="{{badges_active}}">
    <a href="/badges"><i class="icon-list-ul"></i> Your Badges</a>
  </li>
  </li>
  <li class="{{badge_creator_active}}">
    <a href="/badge_creator"><i class="icon-edit"></i> Create a Badge</a>
  </li>
{% endif %}
{% if courses and local_user.teacher %}          
  {% for course in courses %}
  {% set notifications = 0 %}
    <li class="{% if courseID == course.key.id() and not (student_profile or student_badge) %}active{% endif %}">
      <a href="/course/{{course.key.id()}}">{{course.name}}{% if notifications > 0 %}<span class="pull-right badge badge-notification">{{notifications}}</span>{% endif %} </a>
    </li>
  {% endfor %}
{% endif %}
{% if enrollments %}
  {% for entry in enrollments %}
    {% if entry['status'] == 'approved' %}
      <li class="{% if teacherID == entry['course'].key.parent().id() and courseID == entry['course'].key.id() and (student_profile or student_badge)%}active{% endif %}"><a href="/student_profile/{{entry['course'].key.parent().id()}}/{{entry['course'].key.id()}}">{{entry["course"].name}}</a></li>
    {% endif %}
  {% endfor %}
{% endif %}
<li><a href="{{google_user_api.create_logout_url('/')}}"><i class='icon-signout'></i> Log out</a></li>