<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href = "/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href = "/stylesheets/farbtastic.css" rel="stylesheet">
    <link href = "/stylesheets/custom.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script> 
    <script type="text/javascript" src="/javascript/farbtastic.js"></script>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>


    {% block extra_js %}{% endblock %}
    
  </head>   
  
  <body> 
    <div class="navbar navbar-fixed-top navbar-inverse">
      <span class="navbar-text visible-lg pull-left the-brand"><i class="icon-sign-blank icon-large icon-brand"></i> the<span class="text-theme">badge</span>project</span>
      <div class="container">

      <!-- navbar for large screens -->
        <ul class="nav navbar-nav pull-right visible-lg">
          <li><a href="/profile">{{local_user.name}}</a></li>
          <li><a href="{{google_user_api.create_logout_url('/')}}"><i class='icon-signout'></i> Log out</a></li>
        </ul>
      <!-- -->

      <!-- navbar for phone and tablet screens -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand hidden-lg the-brand-mobile" href="/"><i class="icon-sign-blank icon-large icon-brand"></i> the<span class="text-theme">badge</span>project</a>

        <div class="nav-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav hidden-lg">
            {% include 'user_links.html' %}
          </ul>
        </div>
      <!-- end navbars -->
      </div>
    </div>
    <div class="left-panel visible-lg">
      <div class="container">
              
      </div>
      <ul class="side-list">    
        <br>      
        <li class="{{profile_active}}"><a href="/profile" ><i class="icon-user icon-large"></i> Your Profile<i class="icon-chevron-sign-right"></i></a></li>
        {% if local_user.teacher %}
        <li class="{{badges_active}}"><a href="/badges"><i class="icon-list-ul icon-large"></i> Your Badges<i class="icon-chevron-sign-right"></i></a></li>
        <li class="{{badge_creator_active}}"><a href="/badge_creator"><i class="icon-edit icon-large"></i> Create a Badge<i class="icon-chevron-sign-right"></i></a></li>
        {% endif %}
      </ul>
      {% if courses and local_user.teacher %}
        <ul class="side-list">          
        {% for course in courses %}
          {% set notifications = 0 %}
          <li class="{% if courseID == course.key.id() and not (student_profile or student_badge) %}active{% endif %}">
            <a href="/course/{{course.key.id()}}">
              {% if notifications > 0 %}<span class="badge badge-notification">{{notifications}}</span> {% endif %}
              {{course.name}}
              <i class="icon-chevron-sign-right"></i>
            </a>
          </li>
        {% endfor %}
        </ul>
      {% endif %}
      {% if enrollments %}
      <ul class="side-list"> 
        {% for entry in enrollments %}
          {% if entry['status'] == 'approved' %}
            <li class="{% if teacherID == entry['course'].key.parent().id() and courseID == entry['course'].key.id() and (student_profile or student_badge)%}active{% endif %}"><a href="/student_profile/{{entry['course'].key.parent().id()}}/{{entry['course'].key.id()}}"> {{entry["course"].name}}<i class="icon-chevron-sign-right"></i></a></li>
          {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="content-div">
        {% block body %}{% endblock %}
    </div>

    <script type="text/javascript">
      $(document).ready(function() {
        $("[rel=tooltip]").tooltip();
      })
    </script>
      
    <script type="text/javascript">
     $('.btn-loading').click(function(){
       $('.btn-loading').attr('disabled','disabled');
       $(this).html('<i class="icon-spinner icon-spin icon-large"></i> saving...')
     });
    </script>
    
    <script type="text/javascript">
      $('.section-toggle-button').click(function() {
        $('.section-toggle-button').removeClass("active");
        $(this).addClass("active");
      })
    </script>

    <script type="text/javascript" src="/javascript/common.js"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>    
    <script src="/bootstrap/js/bootstrap.min.js"></script> 
    <script src="/javascript/bootstrap-typeahead.js"></script>     
  </body>
</html>